
.colorMain { color: #000000; }
.bgColor0 { background-color: #000000; }
.bgColor1 { background-color: #B4FFE5; }
.bgColor2 { background-color: #78D9B7; }
.bgColor3 { background-color: #DAFFF2; }
.bgColor4 { background-color: #E5B4FF; }
.bgColor5 { background-color: #B778D9; }
.bgColor6 { background-color: #F2DAFF; }
.fontColor0 { color: #FFE5B4; }
.fontColor1 { color: #B4FFE5; }
.fontColor2 { color: #78D9B7; }
.fontColor3 { color: #DAFFF2; }
.fontColor4 { color: #E5B4FF; }
.fontColor5 { color: #B778D9; }
.fontColor6 { color: #F2DAFF; }

/* This font is a nice web version of Arial Rounded MT Bold */
@font-face {
	font-family: '616';
	src: url('../fonts/616/616.eot');
	src: local('616'), url('../fonts/616/616.woff') format('woff'), url('../fonts/616/616.ttf') format('truetype');
}
/* Note you may have to use font-family="'616'" in some contexts */
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_6898">Text with this font applied</p> */
.fontsforweb_fontid_6898 {
	font-family: '616' !important;
}
/* Font downloaded from FontsForWeb.com */
@font-face {
	font-family: 'thegirlnextdoor';
	src: url('../fonts/thegirlnextdoor/thegirlnextdoor.eot');
	src: local('thegirlnextdoor'), url('../fonts/thegirlnextdoor/thegirlnextdoor.woff') format('woff'), url('../fonts/thegirlnextdoor/thegirlnextdoor.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_7356">Text with this font applied</p> */
.fontsforweb_fontid_7356 {
	font-family: 'thegirlnextdoor' !important;
}
/* Font downloaded from FontsForWeb.com */

/* Set default font to be 616. Use 'thegirlnextdoor' for tooltips and suggestions.*/
.official{font-family:'616';}
.unofficial{font-family:'thegirlnextdoor';}

#parameters {
    width: 30vw;
    height: 100%;
    margin-left: 1em;
    background-color: #D9D9D9;
    border-radius: 1em;
}

#insights-div {
    width: 30vw;
    height: 100%;
    margin-left: 1em;
}

#graph-insights-tabs{
    /* height: 70%; */
    height:100%;
    margin-bottom: 1em;
    background-color: #D9D9D9;
    border-radius: 1em;
    overflow: auto;
}

#simulation-progress-container {
    margin: 10px 0;
    text-align: center;
}

#simulationProgress {
    width: 100%;
    height: 20px;
    appearance: none;
}

#simulationProgress::-webkit-progress-bar {
    background-color: #e0e0e0;
    border-radius: 10px;
}

#simulationProgress::-webkit-progress-value {
    background-color: #4caf50;
    border-radius: 10px;
}
#status-table{
    height: 28%;
    margin-top: 1em;
    background-color: #D9D9D9;
    border-radius: 1em;
}

.tab-header {
    display: flex;
    background-color: #000000;
}

.tab-button {
    background-color: #D9D9D9;
    color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    font-family: '616';
    margin-right: 2px;
    border-radius: 1em;
    margin-bottom: 1em;
}

.tab-button.active {
    background-color: #D43939;
    color: #000000;
}

.tab-content {
    display: none;
    padding: 10px;
    height: calc(100% - 40px - 1em);
    /* height: 100%; */
    border-radius: 1em;
}

.tab-content.active {
    display: block;
}